<?xml version="1.0" encoding="UTF-8"?>
 <blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">  	
	<!-- import a service from OSGi implementing the Directory interface and make available as a bean called directory -->
	<!-- osgi:reference id="directory" interface="greenpages.Directory" /-->
</blueprint>
